<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{htmlWebpackPlugin.options.title}}</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="http://vk.com/js/api/openapi.js" type="text/javascript"></script>
</head>
<body>
<div class="wrapper">
    <div class="filter">
        <div class="filter__header">
            Выберите друзей
            <svg class="filter__close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                <path d="M323.1 441l53.9-53.9c9.4-9.4 9.4-24.5 0-33.9L279.8 256l97.2-97.2c9.4-9.4 9.4-24.5 0-33.9L323.1 71c-9.4-9.4-24.5-9.4-33.9 0L192 168.2 94.8 71c-9.4-9.4-24.5-9.4-33.9 0L7 124.9c-9.4 9.4-9.4 24.5 0 33.9l97.2 97.2L7 353.2c-9.4 9.4-9.4 24.5 0 33.9L60.9 441c9.4 9.4 24.5 9.4 33.9 0l97.2-97.2 97.2 97.2c9.3 9.3 24.5 9.3 33.9 0z"/>
            </svg>
        </div>
        <div class="filter__search">
            <input type="text" class="filter__input filter__input--ico" id="search-all" placeholder="Начните вводить имя друга">
            <input type="text" class="filter__input" id="search-choose" placeholder="Введите имя">
        </div>
        <div class="filter__wrapper">
            <div class="filter__block filter__block--left">
                <div class="filter__block-header">Ваши друзья</div>
                <ul class="filter__list" id="all-friends"></ul>
            </div>
            <div class="filter__block filter__block--right">
                <div class="filter__block-header">Друзья в списке</div>
                <ul class="filter__list" id="choose-friends"></ul>
            </div>
        </div>
        <div class="filter__footer">
            <button class="filter__save" id="save">Сохранить</button>
        </div>
    </div>
</div>
<script src="main.js"></script>
</body>
</html>